#logo {
  height: 70px;
  margin-right: 20px;
}

.search-bar {
  padding-top: 20px;
  width: 600px;
}

.navbar-brand {
  padding-top: 2px;
}

.navbar {
  height: 75px;
  background-color: #ff0002;
}

.resultImage {
  height: 100px;
  width: 120px;
  float: left;
}

.result-panel {
  display: inline-block;
  margin-bottom: 0px;
}

.itemRow {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
}

.nameDiv {
  padding-left: 50px;
}

.addressDiv {
  float: right;
}

#login-button {
  margin-left: 70px;
}

.stars {
  font-size: 20px;
}

.stars {
  color: red;
}

.reviewRating {
  color: red;
}

.titleStars {
  color: red;
}

.costIcons {
  font-size: 25px;
  padding-right: 10px;
}

.navButtons {
  padding-top: 20px;
  float: right;
}

#login-button {
  margin-right: 20px;
}
#home {
  background-image: url("images/chickenfire1.jpg");
  position: absolute;
  background-repeat: repeat repeat;
  min-height: 1200px;
}

#results {
  min-height: 1200px;
}

.homeInput {
  position: relative;
  margin-top: 400px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#homeSearch {
    border-radius: 4px;
}

/*#username {
  width: 40%;
}

#password {
  width: 40%;
}*/
