#logo {
  height: 70px;
  margin-right: 20px;
}

.search-bar {
  padding-top: 20px;
}

.navbar-brand {
  padding-top: 2px;
}

.navbar {
  height: 75px;
  background-color: #ff0002;
}

.resultImage {
  height: 100px;
  width: 120px;
  float: left;
}

.result-panel {
  display: inline-block;
  margin-bottom: 0px;
}

.nameDiv {
  padding-left: 50px;
}

.addressDiv {
  float: right;
}

#login-button {
  margin-left: 70px;
}

.stars {
  font-size: 20px;
}
