#logo {
  height: 70px;
  margin-right: 20px;
}

.search-bar {
  padding-top: 20px;
  width: 600px;
}

.navbar-brand {
  padding-top: 2px;
}

.navbar {
  height: 75px;
  background-color: white;
}

.resultImage {
  height: 100px;
  width: 120px;
  float: left;
}

.result-panel {
  display: inline-block;
  margin-bottom: 0px;
}

.itemRow {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
}

.nameDiv {
  padding-left: 50px;
}

.addressDiv {
  float: right;
}

#login-button {
  margin-left: 20px;
  margin-right: 20px;
}

.stars {
  font-size: 20px;
}

.stars {
  color: red;
}

.reviewRating {
  color: red;
}

.titleStars {
  color: red;
}

.costIcons {
  font-size: 25px;
  padding-right: 10px;
}

.navButtons {
  padding-top: 20px;
  float: right;
}

#home {
  background-image: url("images/restaurant2.jpg");
  opacity: 0.7;
  position: absolute;
  min-height: 1200px;
  background-position: top left;
}

#results {
  min-height: 1200px;
}

.navbar {
  margin-bottom: 0px;
}

.itemRow:first-of-type {
  margin-top: 20px;
}

#profileImage {
  height: 100px;
  width: 120px;
  float: left;
}
